<div class="heropage">
    <div class="hero__container">
      <div class="hero__left">
        <div class="hero__title">
          <h1 class="myName">Ayokanmi Samuel</h1>
          <p class="job__title"> {{ name }} || {{ front }}Frontend Dev</p>
          <p>{{dynamicLoading}}</p>
        </div>
      </div>
      <div class="hero__right">
        <p class="hero__text">Creates intuitive and visually appealing experiences.
          Designs for usability without compromising aesthetics.
          Harmonizes functionality with user delight.
        </p>
        <div class="hero__btn">
          <p>Let's Connect</p>
          <div class="icon__circle">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-aboutpage></app-aboutpage>
  
  <!-- <div class="aboutpage">
    <div class="about__container">
      div
    </div>
  </div> -->