<div class="project__section">
    <div class="project__container">
      <div class="project__top">
        <div class="project__top__container">
          <p class="title">Project</p>
          <p class="title__text">Explore our project collections, where creativity meets innovation and passion ignites excellence. Dive into a curated selection of our most captivating and impactful projects, showcasing our expertise, craftsmanship, and dedication to excellence. From stunning web designs to cutting-edge app developments, each project in our collection tells a unique story of collaboration, innovation, and success.</p>
        </div>
        <hr>
      </div>
      <div class="project__bottom">
        <div class="project__body">
          <div class="project__body__top">
            <div>
              <div class="theme">
                <p class="project__numb">01</p>
                <p class="project__theme">Vaccine Appointment</p>
              </div>
            </div>
            <div class="project__text">
              The Flight Booking Website was a comprehensive project aimed at enhancing the user experience and visual appeal of an existing flight booking platform. The goal was to create a more intuitive, user-friendly interface while incorporating modern design trends and technologies. The project aimed to streamline the flight booking process, improve information clarity, and increase user engagement.
            </div>
            <div class="button">
              <div class="Project__btn">
                <p>Live Preview</p>
                <img src="" alt="">
              </div>
              <div class="Project__btn">
                <p>Live Preview</p>
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div class="project__body__bottom">
            <div class="project__image"></div>
            <!-- <img src="../assets/imgOne.png" alt="" style="object-fit: contain;"> -->
          </div>
        </div>
        <!-- project Two -->
        <div class="project__body">
          <div class="project__body__top">
            <div>
              <div class="theme">
                <p class="project__numb">01</p>
                <p class="project__theme">Vaccine Appointment</p>
              </div>
            </div>
            <div class="project__text">
              The Flight Booking Website was a comprehensive project aimed at enhancing the user experience and visual appeal of an existing flight booking platform. The goal was to create a more intuitive, user-friendly interface while incorporating modern design trends and technologies. The project aimed to streamline the flight booking process, improve information clarity, and increase user engagement.
            </div>
            <div class="button">
              <div class="Project__btn">
                <p>Live Preview</p>
                <img src="" alt="">
              </div>
              <div class="Project__btn">
                <p>Live Preview</p>
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div class="project__body__bottom">
            <div class="project__image"></div>
            <!-- <img src="../assets/imgOne.png" alt="" style="object-fit: contain;"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
