<div class="interpage">
    <div class="inter__container">
      <div class="inter__body">
        <div class="inter__top">
          <div class="inter__cardOne">
            <p class="threedee">3D <br> DESIGN</p>
          </div>
          <div class="inter__cardTwo">
            <p class="interdesign">INTERACTION <br> DESIGN</p>
          </div>
        </div>
        <div class="inter__bottom">
            <p class="motiondesign">MOTION <br> DESIGN</p>
        </div>
      </div>
    </div>
  </div>
