<div class="goldsection">
    <div class="gold__container">
      <div class="section__one">
        <p class="gold__title">Graphic Design</p>
        <p class="gold__text">Creating visually engaging designs for branding, print materials, social media, and more.</p>
      </div>
      <hr>
      <div class="section__one">
        <p class="gold__title">UIUX Design</p>
        <p class="gold__text">Designing intuitive user interfaces and enhancing user experiences for digital products.</p>
      </div>
      <hr>
      <div class="section__one">
        <p class="gold__title">Illustration</p>
        <p class="gold__text">Incorporating custom illustrations to add a personalized touch to projects.</p>
      </div>
    </div>
  </div>
