<div class="aboutpage">
    <div class="about__container">
      <div class="about__title">
        My Profile
      </div>
      <div class="about__body">
        <div class="about__top">
          <div class="about__cardOne">
            <p>About</p>
            <p class="cardOne__text">👋 Hello there! I am {{ name }} a passionate and innovative Product Designer with a keen eye for aesthetics and a strong commitment to creating visually captivating and user-friendly designs. With a background in Product Design, I bring a unique blend of creativity and technical expertise to every project I undertake.</p>
          </div>
          <div class="about__cardTwo">
            <p>Skills</p>
            <div class="skill__list">List A</div>
            <div class="skill__list">List B</div>
            <div class="skill__list">List C</div>
            <div class="skill__list">List D</div>
            <div class="skill__list">List E</div>
          </div>
        </div>
        <div class="about__bottom">
          <div></div>
        </div>
      </div>
    </div>
  </div>